@import "@styles/variables";


.btn-link {
  display: inline-block;
  padding: 8px 16px;
  border-radius: $border_radius_2;

  background: var(--color_topography_warn);
  text-decoration: revert;
  color: var(--color_topography_1_shade);

  *[class*="icon-arrow"] {
    --size: 1.778em;
    margin: -0.389em -0.1945em -0.389em 0;
    --color_1: var(--color_topography_1_shade);
  }


  transition: all .25s ease;
  *[class*="icon-arrow"] {
    --transition: all .25s ease;
  }
  &:hover {
    transform: translateY(-2px);
    box-shadow: -1px 5px 3px -2px #00000047;
  }
  &:active {
    transform: scale(0.95);
    *[class*="icon-arrow"] {
      --size: 1.82em;
    }
  }
}
